.App {
  background-color: #282c34;
  text-align: center;
  color: white;
  min-height: 100vh;
  height: 100%;
}

.App-logo {
  height: 40px;
  display: inline-block;
  pointer-events: none;
  vertical-align: sub;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}

.App-header p {
  display: inline-block;
  margin-top: 0px;
  padding-top: 2%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}